In [1]:
import pandas as pd

In [2]:
people= {
    "first" :["Ania", "Marysia", "Ola"],       
    "last" :["Osten", "Marck", "Sir"],
    "email": ["@gmail", "@pl", "@.com"]}

In [3]:
nazwa=pd.DataFrame(people)

In [4]:
nazwa

     first   last   email
0     Ania  Osten  @gmail
1  Marysia  Marck     @pl
2      Ola    Sir   @.com